
.pagin {
padding: 10px 10px;
margin: 0;
font-family: "Verdana", sans-serif;
font-size: 7pt;
font-weight: normal;
}
.pagin * {
padding: 2px 6px;
margin:0px;
line-height:250%;
}
.pagin a {
border: solid 1px #cccccc;
background-color: #ffffff;
color: #0011CD;
text-decoration: none;
}
.pagin a:visited {
border: solid 1px #cccccc;
background-color: #eeeeee;
color: #cccccc;
text-decoration: none;
}
.pagin a:hover, .pagin a:active {
border: solid 1px #cccccc;
background-color: white;
color: #cccccc;
text-decoration: none;
}
.pagin span {
cursor: default;
border: solid 1px #cccccc;
background-color: #F0F0F0;
color: #cccccc;
}
.pagin span.current {
border: solid 1px #cccccc;
background-color: #cccccc;
color: white;
}